PORT=5000

MONGODB_URI=mongodb://localhost:27017/stock_portfolio

JWT_SECRET=3cj0q56hna062kJCBzvX8d44VIzEPMWCfTpCFXIry7rG8nOOrrhNvae6uYZ42zvlRgGQeygnIoGF4lm1nK1EtY

ALPHA_VANTAGE_API_KEY=SE00BKJLCQ8PI28N

NODE_ENV=development
